<h1>Empires#new</h1>
<p>Find me in app/views/empires/new.html.erb</p>

<%= simple_form_for @empire do |f| %>
  <%= f.input :name %>
  <h3>Species</h3>
  <%= simple_fields_for :species do |single_species| %>
    <%= single_species.input :name %>
    <%= single_species.input :biography %>
    <%= single_species.input :archetype, collection: Species::ARCHETYPES, label: 'Species' %>
    <% Species.portraits.each_with_index do |portrait_url, i| %>
      <%= "<input type=\"radio\" name=\"species[portrait]\" id=\"#{i}\" value=#{portrait_url} />".html_safe %>

      <%= "<label for=\"#{i}\" ><img src=#{portrait_url} /></label>".html_safe %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
